/* header */

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(47, 126, 242);
}

.toolbar span{
  text-align: right;
}

.toolbar #suscribete {
  height: 60px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 10vw;
  content: url("../../assets/img/suscribete.png");
}

.toolbar #apruebo-logo {
  height: 80px;
  margin: 0px;
  margin-top: 10px;
  content: url("../../assets/img/apruebo-header.svg");
}


.toolbar #whatsapp-logo {
  height: 60px;
  margin-bottom: 8px;
  margin-right: 8vw;
}

.toolbar #whatsapp-logo:hover  {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .toolbar {
    height: 84px;
  }
  .toolbar #apruebo-logo {
    height: 8vw;
  }
  .toolbar #whatsapp-logo {
    height: 8vw;
  }
  .toolbar #suscribete {
    height: 8vw;
  }
}

@media screen and (max-width: 576px) {
  .toolbar {
    height: 64px;
  }
}
