<div class="toolbar" role="banner">
  <img id="apruebo-logo" alt="Apruebo Nueva Constitucion"/>
  <div class="spacer"></div>
  <img id="ilustracion-banner"/>
  <div class="spacer"></div>
  <span id="cta-banner">Únete al chat<br>de difusión</span>
  <a aria-label="chat whatsapp" target="_blank" rel="noopener" href="https://wa.me/######?text=¡Estoy+interesado!" title="Whatsapp chat">
    <img id="whatsapp-logo"
        alt="Whatsapp Logo"
        src="../../assets/img/icon_chat_whatsapp.svg"
    />
  </a>
</div>