<div class="container header-background">
    <div class="row align-items-start">
        <div class="col align-self-center">
            <img src="../assets/img/Asset 6.png" alt="Apruebo" width="100%">
        </div>
        <div class="col align-self-start">
            <img class="img_head_centro" src="../assets/img/Asset 5.png" alt="Todos por el apruebo">
        </div>
        <div class="col-4">
            <div class="container wsp_btn">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="titulo-chat">Únete al chat de difusión</div>
                    </div>
                    <div class="col">
                        <a href="https://wa.me/######?text=¡Estoy+interesado!"><img class="img_head" src="../assets/img/iconfinder_bubble_chat_mobile_whatsapp_whatsapp logo_5296520.svg" alt="Haz clic y comunicate por Whatsapp por el Apruebo"></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>