/* header */

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(47, 126, 242);
}

.toolbar span{
  text-align: right;
}

.toolbar #suscribete {
  height: 60px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 60px;
  content: url("../../assets/img/suscribete.png");
}

.toolbar #apruebo-logo {
  height: 80px;
  margin: 0px;
  padding-top: 10px;
  content: url("../../assets/img/apruebo-header.svg");
}


.toolbar #whatsapp-logo {
  height: 60px;
  margin-bottom: 8px;
  margin-right: 38px;
}

.toolbar #whatsapp-logo:hover  {
  opacity: 0.8;
}

@media screen and (max-width: 660px) {
  .toolbar #apruebo-logo {
    width: 140px;
  }
  .toolbar  #suscribete {
    display: none;
    visibility: hidden;
  }
  .toolbar #whatsapp-logo {
    height: 40px;
    margin: 0 16px;
  }
}

@media screen and (max-width: 360px) {
  .toolbar #cta-banner, #whatsapp-logo {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 200px) {
  .toolbar #apruebo-logo {
    display: none;
    visibility: hidden;
  }
}
