.header-background{
    background-color: #2f7ef2;
}
.img_head_centro {
   width:100%;
   padding:2vw;
}
.img_head {
   width:2.5vw;
}
.align-items-start {
    align-items: center!important;
}
.titulo-chat{
	font-family:"Roboto", Gadget, sans-serif;
	color:#fff;
	font-size:1em;
	text-align:right;
	}