<div class="container header-background">
    <div class="row align-items-start">
        <div class="col align-self-center">
            <img src="../assets/img/Asset 6.png" alt="Apruebo" width="100%">
        </div>
        <div class="col align-self-start">
            <img class="img_head" src="../assets/img/Asset 5.png" alt="Apruebo" width="100%">
        </div>
        <div class="col-4">
            <div class="container wsp_btn">
                <div class="row align-items-center">
                    <div class="col">
                        <div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: white">Unete al chat de difusión</div>
                    </div>
                    <div class="col">
                        <img class="img_head" src="../assets/img/iconfinder_bubble_chat_mobile_whatsapp_whatsapp logo_5296520.svg" alt="Apruebo" width="50%">
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>