<div class="container footer">   
    <div class="row">
        <div class="col-sm">
            <img src="../assets/img/Asset 8.png" alt="Apruebo" width="100%">
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col">
                    <img src="../../assets/iconos/facebook.png" class="socials">
                </div>
                <div class="col">
                    <img src="../../assets/iconos/instagram.png" class="socials">
                </div>
                <div class="col">
                    <img src="../../assets/iconos/twitter.png" class="socials">
                </div>
                <div class="col">
                    <img src="../../assets/iconos/tiktok.png" class="socials">
                </div>
                <div class="col">
                    <img src="../../assets/iconos/youtube.png" class="socials">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../assets/img/Asset 5-footer.png" alt="Apruebo" class="footer-imagen">
        </div>
    </div>
</div>