/*footer*/


.siguenos{
    margin-top:  4vw;
}

.content {
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

.col-flex{
    align-items: center;
    display: flex;
    flex-flow: column;
}

.col-flex-row{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


.footer{
    background-color:#EDEBDF;
}

.footer-imagen{
  width:80%;
  padding-bottom: 0vw;
}

.footer-logo{
  width:40%;
  padding-top:1vw;
}

.socials{
  width: 2vw;
  min-height: 70px;
  min-width: 70px;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}


.a {
   link: none;
    visited: none;
    hover: none;
    active: none;
}

.amor{
  padding: 2vw;
  letter-spacing: .3em;
  color: #000;
  text-align: center;
}

@media screen and (max-width: 780px) {
    .socials{
      margin-right: 0vw;
      width: 10vw;
      min-height: 45px;
      min-width: 45px;
      padding-top: 0vw;
      margin-left: 2vw;
      margin-right: 2vw;
    }
    .siguenos{
        font-size: 1.5rem;
    }
    .footer-imagen{
      width: 100vw;
      padding-bottom: 0vw;
      margin-top: 2vw;
    }
    .amor{
      padding-bottom: 2vw;
      font-size: 0.5rem;
    }
}


@media screen and (max-width: 360px) {
    .socials{
      width: 0.5vw;
      min-height: 40px;
      min-width: 40px;
    }

}
