<div class="container footer">   
    <div class="row">
        <div class="col">
            <img src="../assets/img/Asset 8.png" alt="Apruebo" width="100%">
        </div>
        <div class="col">
            <div class="row">
                <div class="col col-5">
                    <img src="../../assets/iconos/facebook.png" width="10%">
                </div>
                <div class="col col-5">
                    <img src="../../assets/iconos/instagram.png" width="10%">
                </div>
                <div class="col col-5">
                    <img src="../../assets/iconos/twitter.png" width="10%">
                </div>
                <div class="col col-5">
                    <img src="../../assets/iconos/tiktok.png" width="10%">
                </div>
                <div class="col col-5">
                    <img src="../../assets/iconos/youtube.png" width="10%">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../assets/img/Asset 5-footer.png" alt="Apruebo" width="100%">
        </div>
    </div>
</div>