/*footer*/

.content {
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

.col-flex{
    align-items: center;
    display: flex;
    flex-flow: column;
}

.col-flex-row{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


.footer{
    background-color:#ff4e7b;
}

.footer-imagen{
  width:80%;
  padding-bottom:5vw;
}
.footer-logo{
  width:40%;
  padding-top:5vw;
}
.socials{
  width:5vw;
  text-align:center;
  padding-bottom:5vw;
}