/*footer*/


.siguenos{
    margin-top:  2vw;
}

.content {
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

.col-flex{
    align-items: center;
    display: flex;
    flex-flow: column;
}

.col-flex-row{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


.footer{
    background-color:#EDEBDF;
}

.footer-imagen{
  width:80%;
  padding-bottom: 0vw;
}

.footer-logo{
  width:40%;
  padding-top:1vw;
}

.socials{
  width: 2vw;
  min-height: 70px;
  min-width: 70px;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}


.a {
   link: none;
    visited: none;
    hover: none;
    active: none;
}

.amor{
  padding-bottom: 2vw;
  letter-spacing: .3em;
  color: #000;
}