<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=agua#1'">
                                <img src="../../assets/iconos/agua.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=vivienda#4'">
                                <img src="../../assets/iconos/vivienda.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=economia#7'">
                                <img src="../../assets/iconos/economia.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=anticorrupcion#14'">
                                <img src="../../assets/iconos/anticorrupcion.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=salud#17'">
                                <img src="../../assets/iconos/salud.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=medio ambiente#19'">
                                <img src="../../assets/iconos/medioambiente.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=educacion#32'">
                                <img src="../../assets/iconos/educacion.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll  [href]="'/articles?q=justicia#35'">
                                <img src="../../assets/iconos/justicia.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=descentralizacion#41'">
                                <img src="../../assets/iconos/descentralizacion.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=vejez#46'">
                                <img src="../../assets/iconos/vejez.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=ninez#48'">
                                <img src="../../assets/iconos/ninez.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=democracia#50'">
                                <img src="../../assets/iconos/democracia.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=feminismo#61'">
                                <img src="../../assets/iconos/feminismo.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=ddhh#68'">
                                <img src="../../assets/iconos/ddhh.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=inclusion#76'">
                                <img src="../../assets/iconos/inclusion.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=seguridad#78'">
                                <img src="../../assets/iconos/seguridad.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=trabajo#81'">
                                <img src="../../assets/iconos/trabajo.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll  [href]="'/articles?q=ciencia#85'">
                                <img src="../../assets/iconos/ciencia.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=deporte#89'">
                                <img src="../../assets/iconos/deporte.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="circulo">
                            <a pageScroll [href]="'/articles?q=principios#91'">
                                <img src="../../assets/iconos/principios.jpg" class="icono" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>
