<div class="content">
    <app-header></app-header>
</div>
<div class="content">
    <carousel-controls></carousel-controls>
</div>
<div class="article-list content-sctrech">
    <div class="content">
        <button type="button" class="btn-close" aria-label="Close">
            <a [routerLink]="'/'"></a>
        </button>
        <div *ngFor="let article of articles">
            <app-article [article]="article"></app-article>
        </div>
        <button type="button" class="btn-close" aria-label="Close">
            <a [routerLink]="'/'"></a>
        </button>
    </div>
</div>