<!-- <div class="content">
    <app-header></app-header>
</div>
<div class="content-sctrech">
    <carousel-controls-inner style="margin-top: 100px; position: fixed; width: 100vw;"></carousel-controls-inner>
</div> -->
<!-- <div class="article-list content-sctrech"  style="margin-top: 100px;"> -->
<div class="article-list content-sctrech">
    <div class="content">
        <button type="button" class="btn-close" aria-label="Close">
            <a [routerLink]="'/'"></a>
        </button>
        <div *ngFor="let article of articles">
            <app-article [article]="article"></app-article>
        </div>
        <button type="button" class="btn-close" aria-label="Close">
            <a [routerLink]="'/'"></a>
        </button>
    </div>
</div>