.article-list{
    background-color: #EDEBDF;
    text-align:center;
    margin-top: 100px !important;
}

.btn-close{
    margin: 14px;
}

.content{
    background-color: #EDEBDF;
    text-align:center;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
  border-radius: 80%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

@media screen and (max-width: 768px){
    .article-list{
        margin-top: 84px !important;
    }
}

@media screen and (max-width: 576px){
    .article-list{
        margin-top: 64px !important;
    }
}