.article-list{
    background-color: #EDEBDF;
    text-align:center;
}


.content{
    background-color: #EDEBDF;
    text-align:center;
    width: 80vw;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.round {
  border-radius: 80%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

