<div class="content">
    <app-header></app-header>
</div>
<!-- <div class="content-stretch">
    <carousel-controls-inner></carousel-controls-inner>
</div> -->
<div class="article-list content-stretch">
    <div class="content">
        <a [routerLink]="'/'">
            <img class="boton-volver" alt="VOLVER" src="../../assets/img/volver.png"/>
        </a>
        <div *ngFor="let article of articles">
            <app-article [article]="article"></app-article>
        </div>
        <a [routerLink]="'/'">
            <img class="boton-volver" alt="VOLVER" src="../../assets/img/volver.png"/>
        </a>
    </div>
</div>
<app-footer></app-footer>