<div class="seccion-video">
	<div class="content-stretch">

		<div id="carouselControlsVideo" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/sH8am4vSFKo?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/8CrIUcVl7ok?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/gcpj38ufqpI?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/MJy_nA2gykU?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/6xmA1ghqYOk?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/8luN1rhIeCY?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/AjEqVxSFmy4?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/E5ne_b6QCcU?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/lK9BurhbwMI?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/tkJiBN2Z0uc?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales"
						frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
						></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/uZi8DBhKOd8?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="content">
						<iframe class="videoiframe" src="https://www.youtube.com/embed/TDtbf6DqZXY?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselControlsVideo" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previo</span>
			</button>

			<button class="carousel-control-next" type="button" data-bs-target="#carouselControlsVideo" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Próximo</span>
			</button>

			<div class="carousel-indicators">
				<button class="active indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0"></button>
				<button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
        		<button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 5"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 6"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 7"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 8"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 9"></button>
		        <button class="indicator-button" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 10"></button>
			</div>

		</div>

	    <div class="col-sm col-flex">
	    	<a aria-label="maling list subscription" target="_blank" rel="noopener" href="https://www.youtube.com/playlist?list=PL8BhysqXgtC9BfG2mcTEX6666AJGtaegL" title="playlist franja del apruebo">
   				 <img class="franja-mov" alt="La Franja de los Movimientos Sociales" src="../../assets/img/lafranja-blanco.png"/>
 			</a>
	    </div>

	</div>

	<div class="row row-b no-gutters">
		    <div class="col-md-6 seccion-b-1">
		      <div class="welcome">
		        <img src="../../assets/img/arriba-boton-verde.png" class="arriba-botones" alt="Responsive image">
		      </div>
		    </div>
		    <div class="col-md-6 seccion-b-2">
		      <div class="welcome-fucsia">
		        <img src="../../assets/img/arriba-boton-fucsia.png" class="arriba-botones" alt="Responsive image">
		      </div>
		    </div>
	</div>


</div>