<div class="seccion-video">
	<div class="content-stretch">

		<iframe class="videoiframe" src="https://www.youtube.com/embed/80PfBHzFTqE?controls=0&showinfo=0" title="La Franja de lso Movimientos Sociales" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	    <div class="col-sm col-flex">
	        <img class="franja-mov" alt="La Franja de los Movimientos Sociales" src="../../assets/img/lafranja-blanco.png"/>
	    </div>

	</div>

		  <div class="row row-b no-gutters">
		    <div class="col-md-6 seccion-b-1">
		      <div class="welcome">
		        <img src="../../assets/img/arriba-boton-verde.png" class="arriba-botones" alt="Responsive image">
		      </div>
		    </div>
		    <div class="col-md-6 seccion-b-2">
		      <div class="welcome-fucsia">
		        <img src="../../assets/img/arriba-boton-fucsia.png" class="arriba-botones" alt="Responsive image">
		      </div>
		    </div>
		  </div>


</div>