<div class="seccion-video">
	<div class="content-stretch">

		<iframe class="videoiframe" src="https://www.youtube.com/embed/FuIC4QwAAcM?controls=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	    <div class="col-sm col-flex">
	        <img class="franja-mov" alt="La Franja de los Movimientos Sociales" src="../../assets/img/lafranja-blanco.png"/>
	    </div>

	</div>
</div>