<div class="container seccion-a">
  <div class="row">
    <div class="col">
      <div class="txt_conocelanuevaconstitucion">
        <span class="simple-highlight">
          CONOCE LA _ <br />
          NUEVA CONSTITUCIÓN _
        </span>
      </div>
    </div>
  </div>
  <!-- <div class="row">
        <div class="col">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Ingresa el tema que quieres buscar" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>-->
  <div id="caurosel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="col">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/casa.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/pelota.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/bus.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/justicia.png" class="icono" />
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/paloma.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/camino.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/laptop.png" class="icono" />
                        </a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="circulo">
                        <a href="javascript: void(0);">
                            <img src="../../assets/iconos/laptop.png" class="icono" />
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col">
                    <button type="button" class="btn btn_leenuevaconstitucion">
                        Lee la nueva Constitución
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#caurosel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#caurosel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
  </div>
</div>