<div class="container seccion-a">  
    <div class="row">
        <div class="col">
            <div class="txt_conocelanuevaconstitucion">CONOCE LA</div>
            <div class="txt_conocelanuevaconstitucion">NUEVA CONSTITUCIÓN</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Ingresa el tema que quieres buscar" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    
</div>
