.content-stretch {
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: column;
    align-items: stretch;
}

.seccion-a{
    background-color: #EDEBDF;
}


.descarga-borrador{
    height: 3vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
    min-height: 30px;
}

.txt_conocelanuevaconstitucion{
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 0vw;
  letter-spacing:  .3vw;
  font-size: 3vw;
}

.arriba-botones {
  width: 50vw;
  height: auto;
  margin-bottom: -3px;
}

/* overwrote by .carousel-indicators [data-bs-target] scss
button.indicator-button, button.indicator-button.active{
    width: 10px !important;
}
*/

.row {
    --bs-gutter-x: 0rem !important;
}

.welcome{
    margin-bottom: -1px;
}

@media screen and (max-width: 960px) {
    .txt_conocelanuevaconstitucion{
      font-size: 5vw;
    }
    .welcome-fucsia{
        height: 0px;
    }
    .descarga-borrador{
      margin-bottom: 4vw;
    }
    .txt_conocelanuevaconstitucion{
      margin-top: 2vw;
    }
}


@media screen and (max-width: 768px) {
    .arriba-botones {
      width: 100vw;
    }
}


@media screen and (max-width: 574px) {
    .descarga-borrador{
        margin-top: 3vw;
        margin-bottom: 2vw;
        min-height: 30px;
    }

    .txt_conocelanuevaconstitucion{
      margin-top: 3vw;
    }
}
