.seccion-a{
    background-color: #33c47c;
	text-align:center;
}
.txt_conocelanuevaconstitucion{
	margin-top:3em;
	}
.simple-highlight{
 	background-color:#ff5949;
 	padding:0.2em 0.2em;
 	font-size:3em;
	line-height:1.3em; 
	color: #fff;
	font-family:"Roboto", Gadget, sans-serif;
	font-style:italic;
	font-weight:400;
}
.align-items-center{
	margin: auto;
  	width: 80%;
	padding:5%;
	}
.circulo{
    height:100px;
    width:100px;
    background:#ff5949;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
	text-align:center;
	padding-top:15px;
	margin:30px;
 }
.circle-center{
     align-items: center;
}
.icono{
	 width:70%;
	 }
	 
.btn_leenuevaconstitucion {
    background: #ff5949;
    color: #fff;
    font-size:1.5em;
    border: none;
    margin-top:5%;
	padding:2%;
}