.card-main {
    /*border:  none;*/
    padding: 20px;
    width: 80vw;
    background-color: #EDEBDF;
    border-width: 0px !important;
}

.card-header {
    padding: 0;
}

.card-body{
    padding: 0;
}

.card-header-comparativo {
    background-color: #2F7EF2;
    /* font-size: 47pt;*/
    /*letter-spacing:  20pt;*/
    min-height: 56px;
    color: #EDEBDF;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: .05em;
    line-height: 1.3em;
}

.espace {
    min-height: 10px;
    background-color: #EDEBDF;
    border-bottom:  none;
}

.card-c80 {
    background-color: #E8E8E8;
    height: 100%;
}

.card-header-both {
/*    font-size: 23pt;*/
    font-size: 14pt;
    height: 35px;
    letter-spacing: .07em;
}

.card-header-c80 {
    font-weight: 400;
    background-color: #202735;
    color: #EDEBDF;

}

.card-header-nc {
    font-weight: 600;
    color: #2F7EF2;
    background-color: #EDEBDF;

}


.border {
    border-width: 2px !important;
}

.card-nc {
    background-color: #FFFFFF;
}


.card-text{
    /*font-size: 32pt;*/
    font-size: 1.8em;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.1em;
}

.card-text-nc{
    color: #2F7EF2;
}


.tema{
    color: #2F7EF2;
    font-weight: 800;
    font-size: 22pt;
    font-variant-caps: all-petite-caps;
    letter-spacing: .07em;
}