.card {
}

.card-main {
    /*border:  none;*/
    width: 40vw;
}

.card-header {
    padding: 0;
}

.card-body{
    padding: 0;
}

.card-header-comparativo {
    height: 2vw;
    width:  100%;
    color: #2F7EF2;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1em ;
}

.espace {
    min-height: 60px;
    background-color: #EDEBDF;
    border-bottom:  none;
}

.espace-titulo {
    background-color: #EDEBDF;
    border-bottom:  none;
}

.card-c80 {
    background-color: #E2DFD7;
    height: 100%;
}

.card-header-both {
    font-weight: 500;
    font-size: 1.2em;
    height: 30px;
    letter-spacing: 0.1em;
    padding: 3px;
}

.card-header-c80 {
    background-color: #202735;
    color: #EDEBDF;

}

.card-header-nc {
    background-color:  #ffffff;
}


.border {
    border-width: 0px !important;
}

.card-nc {
    background-color: #FFFFFF;
}


.card-text{
    /*font-size: 32pt;*/
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.1em;
}

.card-text-nc{
    color: #000;
}

.texto-header-nc{
    margin-top: -1px;
    color:  #ffffff
}
.tema{
    font-weight: 800;
    font-size: 18pt;
}