<div class="card card-centered card-rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
          <div class="card-title">{{ article.titulo }}</div>
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="container seccion-c">
        <div class="row">
            <div class="col inner-card">
                {{ article.C80 }}
            </div>
            <div class="col inner-card">
                {{ article.NC }}
            </div>
        </div>
      </div>
    </div>
  </div>