
  <div>
    <img style="display: {{ article.iconodisplay }};" class="icono-tarjetas"  alt="Logo" src="../../assets/iconos-tarjetas/{{ article.icononame }}-tar.png"/>
  </div>

  <div class="card card-main border-0">

  <div [id]="article.id" class="card-header card-header-comparativo" style="background-color:{{ article.color }}; color:{{ article.titlecolor }}">
    <p class="p-card-header-comparativo" style="opacity: {{ article.titleopacity }};">{{ article.titulo }}</p>
  </div>

  <div class="espace-intra-cards">
  </div>

  <div class="row g-0 principal">
    <div class="col-6">
      <div class="card card-c80 border-0">
        <div class="card-body">
          <div class="card-header card-header-both card-header-c80 rounded-0 border-0">
          <p class="text-header">CONSTITUCIÓN DE 1980</p>
          </div>
          <p class="card-text">{{ article.C80 }}</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card card-nc border-0">
        <div class="card-body">
          <div class="card-header card-header-both card-header-nc rounded-0 border-0" style="background-color:{{ article.color }};  border-color: {{ article.color }} !important;">
            <p class="text-header" style="color:{{ article.titlecolor }}">NUEVA CONSTITUCIÓN</p>
          </div>
          <p class="card-text card-text-nc" >{{ article.NC }}
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

  <div class="iconos-precard">
    <img id="articulo" alt="Lee el articulo en la nueva Constitución"/>
    <div class="spacer"></div>
    <img id="descarga" alt="Descarga la tarjeta comparativa de la nueva Constitución"/>
  </div>


<div class="espace-between-cards">
</div>