.iconos-precard {
  top: 0;
  left: 0;
  right: 0;
  height: 16px;
  display: flex;
  align-items: center;
  background-color: #EDEBDF;
}

.iconos-precard #articulo {
  height: 0px;
  margin-left: 4px;
  margin-top: 18px;
  content: url("../../assets/img/book.svg");
  opacity: 0.7;
}

.iconos-precard #descarga {
  height: 24px;
  margin-right: 4px;
  margin-top: 24px;
  content: url("../../assets/img/download.svg");
  opacity: 0.7;
}


.card-main {
    padding: 0px;
    width: 800px;
}

.card-header {
    padding: 0;
}

.card-body{
    padding: 0;
}

.card-header-comparativo {
    height: 40px;
    width:  100%;
    color: #EDEBDF;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: 0.09rem;
}

/*.p-card-header-comparativo {
    margin: auto !important;
  display: inline-block;
  vertical-align: middle;}*/

.espace-intra-cards {
    height: 6px;
    background-color: #EDEBDF;
    border-bottom:  none;
}

.espace-between-cards {
    height: 60px;
    background-color: #EDEBDF;
    border-bottom:  none;
}

.card-c80 {
    background-color: #E2DFD7;
    height: 100%;
}

.card-header-both {
    font-weight: 400;
    font-size: 1.25rem;
    height: 25px;
    letter-spacing: 0.1rem;
}

.card-header-c80 {
    background-color: #202735;
    opacity: 0.7;
    color: #EDEBDF;
}

.card-header-nc {
    color: #EDEBDF;
}


.card-nc {
    background-color: #f9f8f7;
}


.text-header {
    padding-top: 1px;
}

.card-text{
    font-size: 1.5em;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.1em;
    color: #333;
    opacity: 0.875;
}

.tema{
    font-weight: 800;
    font-size: 18pt;
}

@media screen and (max-width: 992px) {
    .card-main {
        width: 600px;
    }

    .text-header {
        padding-top: 1px;
    }
}



@media screen and (max-width: 620px) {
    .card-main {
        width: 90vw;
    }
    .card-header-comparativo {
        height: 20px;
        font-size: 13px;
    }
    .card-header-both {
        font-size: .9rem;
        height: 25px;
    }
    .card-text{
        font-size: 1em;
    }
    .text-header {
        padding-top: 2px;
    }
}


@media screen and (max-width: 360px) {
    .card-main {
        width: 100vw;
    }
    .card-header-comparativo {
        height: 20px;
        font-size: 13px;
    }
    .card-header-both {
        font-size: .9rem;
        height: 25px;
    }
    .card-text{
        font-size: 1em;
    }
}


@media screen and (max-width: 310px) {
    .card-text{
        font-size: 1em;
    }
    .text-header {
        padding-top: 5px;
    }
}