<app-header></app-header>

<div class="content-stretch" role="main">

	<div class="seccion-kit">

	    <div class="col-sm col-flex">
	        <div class="txt_descargamaterial">
	          <span style="font-weight: 550;">DESCARGA MATERIAL Y </span><span style="font-weight: bold;">ARMA TU CAMPAÑA</span>
	        </div>
	    </div>

	<hr class="linea">



    <a [routerLink]="'/'">
        <img class="boton-volver" alt="VOLVER" src="../../assets/img/volver.png"/>
    </a>

	<div class="container">
	  <div class="row justify-content-center g-0">

	    <div class="col center-block text-center g-0" style="justify-content: right;">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1tT34ST3KzTJiJfDqonIJtMRJh5sI0aSz" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga1.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1L74fdCt9E2qnoyl81vzToT4otSOxTlsl" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga2.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1CgnigjAHhA4zl9qzxZzHfmDr-y4WANaI" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga3.png"
			    />
			  </a>
		</div>
	    <div class="w-100"></div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1MzUMKghtc4R6qgTwvKEiYN4SBfyQYI_B" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga4.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1N_ICv1pFRtcVWeYyXMUEwuhzJmGlcg0f" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga5.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1KY_d9-jDv7c1LOuZsN0EsX8dJRy8JUc2" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga6.png"
			    />
			  </a>
		</div>
	    <div class="w-100"></div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1JZlbc_ibBrZdvs2aZGBM4XrEErNZy4Bv" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga7.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1r6beeOdurrQOXg7t47OTs64eb29edEUa" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga8.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1Qnz6w_iVb-rhw623d-5uJhwnnIkBYjSz" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga9.png"
			    />
			  </a>
		</div>
	  </div>
	</div>

    <div class="col center-block text-center">
      <img class="footer-imagen" src="../../assets/img/footer.png" alt="Apruebo" >
    </div>


	</div>
</div>