<div class="content-stretch" role="main">
	<div class="seccion-kit">
	    <div class="col-sm col-flex">
	        <div class="txt_descargamaterial">
	          <span style="font-weight: 550;">DESCARGA MATERIAL Y</span><span style="font-weight: bold;">ARMA TU CAMPAÑA</span>
	        </div>
	    </div>


	<hr class="linea">


	<div class="container">
	  <div class="row justify-content-center g-0">
	    <div class="col center-block text-center" style="justify-content: right;">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga2.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga3.png"
			    />
			  </a>
		</div>
	    <div class="w-100"></div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga4.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga5.png"
			    />
			  </a>
		</div>
	    <div class="col center-block text-center">
			  <a target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="descarga">
			    <img class="img-descarga"
			        alt="Descarga"
			        src="../../assets/img/paginadescargas/descarga6.png"
			    />
			  </a>
		</div>
	  </div>
	</div>

    <div class="col center-block text-center">
      <img class="footer-imagen" src="../../assets/img/footer.png" alt="Apruebo" >
    </div>


	</div>
</div>