.map-container{
    width: 50vw;
    height: 30vw;
    margin-bottom: 30px;
    margin-left: 1vw;
    border: thick solid #EDEBDF;
    border-radius: 0.25rem;
}

@media screen and (max-width: 768px) {
  .txt_encuentracomando{
    letter-spacing: .2em;
  }
  .map-container{
    width: 80vw;
    height: 80vw;
    margin-left: 10vw;
    min-height: 300px;
  }
}
