.map-container{
    width: 40vw;
    height: 300px;
    margin-bottom: 30px;
    margin-left: 25vw;
}

@media screen and (max-width: 768px) {
  .txt_encuentracomando{
    letter-spacing: .2em;
  }
  .map-container{
    width: 80vw;
    height: 60vw;
    margin-left: 0vw;
  }
}
