/* seccion c */
.content-stretch {
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: column;
    align-items: stretch;
}

.content-maps{
    display: flex;
    margin: auto;
    padding: 0px;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
}


.card {
    --bs-bg-opacity: 1;
    background-color: #EDEBDF !important;
}

.seccion-c{
    background-color: #E5DA53;
}

.col-md {
    justify-content:  center;
    align-items: center;
}


.txt_encuentracomando{
  text-align: center;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
  letter-spacing:  .3vw;
  font-size: 3vw;
}

.mapa{
  margin-bottom: 1.5vw;
}

.card {
    height: 15vw;
    width: 20vw;
    margin-bottom: 10px;
}

.card-title{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.09rem;
}

.card-text{
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.09rem;
    margin-bottom: 0rem;
}


.socials{
  width: 0.5vw;
  min-height: 30px;
  min-width: 30px;
  text-align: center;
  margin-top: 20px;
}




@media screen and (max-width: 1100px) {
    .txt_encuentracomando{
      font-size: 4vw;
    }
  .card-title{
      font-size: 1rem;
  }
  .card-text{
      font-size: 0.8rem;
  }
  .card {
      height: 20vw;
      width: 20vw;
  }
}

@media screen and (max-width: 768px) {
    .welcome-verde{
        height: 0px;
    }
  .card-title{
      font-size: 1.3rem;
  }
  .card-text{
      font-size: 1.1rem;
  }

  .socials{
    width: 0.3vw;
    min-height: 30px;
    min-width: 30px;
  }
  .card {
      min-height: 42px;
      width: 80vw;
      margin-left: 10vw;
  }
}


@media screen and (max-width: 574px) {
    .txt_encuentracomando{
      margin-top: 3vw;
    }
    .card {
       min-height: 150px;
    }
  .card-title{
      font-size: 1.3rem;
  }
  .card-text{
      font-size: 1.1rem;
  }

  .socials{
    min-height: 30px;
    min-width: 30px;
  }
}
