/* seccion c */
.seccion-c{
    background-color: #E5DA53;
}

.txt_encuentracomando{
  text-align: center;
  margin-top: 1.5vw;
  margin-bottom: 0vw;
  letter-spacing: .35em;
}

/*.mook-googlemaps{
  width: 60%;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
*/

.abajo-botones{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .txt_encuentracomando{
    letter-spacing: .2em;
  }
}