<!-- c section-->
<div class="content" role="main">
  <div class="seccion-c">

    <div class="welcome">
      <img src="../../assets/img/abajo-botones.png" class="welcome-image" alt="Responsive image">
    </div>

    <div class="col-sm col-flex">
        <div class="txt_encuentracomando">
          <span class="simple-highlight" style="font-weight: 550;">ENCUENTRA TU </span><span class="simple-highlight" style="font-weight: bold;">COMANDO</span><span class="simple-highlight" style="font-weight: 550;"> MÁS CERCANO</span>
        </div>
    </div>
    <div class="col-sm col-flex">
        <app-map></app-map>
<!--       <img class="mook-googlemaps" src="../../assets/img/mook-googlemaps.png" alt="Apruebo"> -->
    </div>
  </div>
</div>

