<!-- c section-->
<div class="content-stretch" role="main">
  <div class="seccion-c">

<!-- 
  <div class="row row-b no-gutters">
    <div class="col-md-6 seccion-b-1">
      <div class="welcome-verde">
        <img src="../../assets/img/abajo-boton-verde.png" class="abajo-botones" alt="Responsive image">
      </div>
    </div>
    <div class="col-md-6 seccion-b-2">
      <div class="welcome">
        <img src="../../assets/img/abajo-boton-fucsia.png" class="abajo-botones" alt="Responsive image">
      </div>
    </div>
  </div> -->

    <div class="col-sm col-flex">
        <div class="txt_encuentracomando">
          <span class="simple-highlight" style="font-weight: 550;">ENCUENTRA TU </span><span class="simple-highlight" style="font-weight: bold;">COMANDO</span><span class="simple-highlight" style="font-weight: 550;"> MÁS CERCANO</span>
        </div>
    </div>
    <div>
      {{ markerSelected != null ? markerSelected.title : ""}}
    </div>
    <div class="col-sm col-flex">
        <app-map class="mapa" (markerClicked)="markerUpdated($event)"></app-map>
<!--       <img class="mook-googlemaps" src="../../assets/img/mook-googlemaps.png" alt="Apruebo"> -->
    </div>
  </div>
</div>

