<!-- c section-->
<div class="content" role="main">
  <div class="seccion-c">
    <div class="col-sm col-flex">
        <div class="txt_unetealcomando">
          <span class="simple-highlight">UNETE A UN COMANDO X EL APRUEBO</span>
        </div>
    </div>
    <div class="col-sm col-flex">
      <img class="mook-googlemaps" src="../../assets/img/mook-googlemaps.png" alt="Apruebo">
    </div>
    <div class="col-sm col-flex">
      <div class="btn-wrapper-c">
        <button class="btn-anc">Déjanos tu contacto</button>
      </div>
    </div>
  </div>
</div>