/* seccion b */

.row {
    --bs-gutter-x:  0;
}

.seccion-b-1{
    background-color: #33C47C;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.seccion-b-2{
    background-color: #E84DC7;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.boton-a{
  width: 22vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.btn-wrapper-b{
  text-align: center;

}


@media screen and (max-width: 576px) {
    .txt-b{
      font-size: 0.75em;
    }
}

