<div class="container">  
<div class="row"> 
<div class="col seccion-b-1">
<div class="row">
<div class="col"> 
<div class="titulo-campana">ARMA TU CAMPAÑA</div>
<div class="kit"><button class="btn-kit">KIT DEL APRUEBO</button></div>
<div class="texto-campana">TEXTO DE LO QUE DE PUEDE ENCONTRAR Y APRA QUE SIRVA COMO LLAMADO A PARTICIPAR Y DIFUNDIR</div>
</div>
</div>
</div>
<div class="col seccion-b-2">
<div class="titulo-campana">APORTA AL APRUEBO</div>
<div class="kit"><button class="btn-aporte">KIT DEL APRUEBO</button></div>
<div class="texto-campana">CON TU APOYO PODEMOS SUMAR MÁS PERSONAS PARA QUE GANE EL APRUEBO.</div>
        </div>
    </div>
</div>