.seccion-b-1{
    background-color: #e84dc7;
}

.seccion-b-2{
    background-color: #ff5549;
}
.kit{
	text-align:center;}
.btn-kit{
	margin-top:10%;
	background:#e5da53;
    color:#e84dc7;
	font-family:"Roboto", Gadget, sans-serif;
	font-size:2em;
	font-style:bold;
	font-weight:800;
	line-height:3em;
	text-align:center;
	border:none;
	padding:2%;

}
.btn-aporte{
	margin-top:10%;
	background:#e5da53;
    color:#ff5949;
	font-family:"Roboto", Gadget, sans-serif;
	font-size:2em;
	font-style:bold;
	font-weight:800;
	line-height:3em;
	text-align:center;
	border:none;
	padding:2%;
}
.titulo-campana{
	margin-top:10%;
   /* background-color: #ff5949;*/
	font-size:3em;
	line-height:1em; 
	color: #fff;
	font-family:"Roboto", Gadget, sans-serif;
	font-style:bold;
	font-weight:400;
	text-align:center;
}
.texto-campana{
	margin-top:10%;
   /* background-color: #ff5949;*/
	font-size:1em;
	line-height:1em; 
	color: #fff;
	font-family:"Roboto", Gadget, sans-serif;
	font-style:bold;
	font-weight:400;
	text-align:center;
	text-align:justify;
	width:70%;
	margin-bottom:10%;
}