<!-- b section-->
<div class="content-stretch">
  <div class="row row-b no-gutters">
    <div class="col-sm-6 seccion-b-1">
      <div class="title_b">
        <span class="simple-highlight">ARMA TU CAMPAÑA</span>
      </div>
      <div class="btn-wrapper-b">
          <a href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" class="btn-anc" role="button">KIT DEL APRUEB♥</a>
      </div>
      <div class="txt-b">TEXTO DE LO QUE DE PUEDE ENCONTRAR <br> PARA QUE SIRVA COMO LLAMADO A PARTICIPAR Y DIFUNDIR</div>
    </div>
    <div class="col-sm-6 seccion-b-2">
      <div class="title_b">
        <span class="simple-highlight">PARTICIPA</span>
      </div>
      <div class="btn-wrapper-b">
          <a href="#" class="btn-anc" role="button">ENVIANOS TU APORTE</a>
      </div>
      <div class="txt-b">CON TU APOYO PODEMOS SUMAR MÁS PERSONAS PARA QUE GANE EL APRUEBO</div>
    </div>
  </div>
</div>