<!-- b section-->
<div class="content-stretch">
  <div class="row row-b no-gutters">
    <div class="col-md-6 seccion-b-1">
      <div class="btn-wrapper-b">
        <a aria-label="descarga borrador" target="_blank" rel="noopener" href="https://drive.google.com/drive/u/2/folders/1vsi9XOXyAocyhEXReTPtPZR_jrf8wm9O" title="Borrador Nueva Constitucion">
          <img class="boton-a-1" alt="Borrador Nueva Constitucion" src="../../assets/img/botoncampana.png"/>
        </a>
      </div>
    </div>
    <div class="col-md-6 seccion-b-2">
      <div class="btn-wrapper-b">
        <a aria-label="descarga borrador" target="_blank" rel="nopener" href="https://docs.google.com/forms/d/1GXwYt7bJiRCK_mi4gqiP5AvpYoXCNAZ3S7xQN56lxW8" title="Borrador Nueva Constitucion">
          <img class="boton-a-2" alt="Borrador Nueva Constitucion" src="../../assets/img/botongraficas.png"/>
        </a>
      </div>
    </div>
  </div>
</div>

